$base-font-size: 14px !default;
$content-padding: 1rem !default;

$theme-dark-bg: hsl(207, 26%, 17%);
$theme-dark-el: hsl(209, 23%, 22%);
$text-color-dark: hsl(0, 0%, 100%);

$theme-light-bg: hsl(0, 0%, 98%);
$theme-light-el: hsl(0, 0%, 100%);
$text-color-light: hsl(200, 15%, 8%);

$input-color-light: hsl(0, 0%, 52%);

$max-width-content: 1440px;

$card-shadow: 0 1px 4px rgba(0, 0, 0, 0.16);
$navbar-shadow: 0 2px 8px rgba(99, 99, 99, 0.2);
